<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a id="brand" class="navbar-brand" href="/">eStationery</a>
    {{# if login}}
    {{# if_eq user.role "usuario"}}
    <form class="navbar-form navbar-left" id="search-user" action="/" method="GET">
      <div class="form-group">
       <input name="search" type="text" class="form-control" placeholder="Buscar producto">
     </div>
     <button type="submit" class="btn btn-default">Buscar</button>
    </form>    
    {{/if_eq}}    
    {{/if}}
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
	{{# if login}}
      {{# if_eq user.role "usuario"}}
     <li>
      <a onclick="topFunction()" id="btn-miss" class="btn-danger" role="button">¡Falta producto!</a>
     </li>
     <li>
      <a id="btn-cart" href="/shopping-cart/" class="btn-success" role="button">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i> Pedido
      <span class="badge">
        {{# if session.cart.totalQty}}
        {{session.cart.totalQty}}
        {{else}}
        0
      </span>
      {{/if}}
      </a>
     </li>
	 {{/if_eq}}
    {{/if}}
     {{# if_eq user.role "administrador"}}
    <li><a onclick="topFunction()" role="button" id="cog"><i class="fa fa-cog" aria-hidden="true"></i> Configuración</a></li>
    <li>
      <a id="btn-cart" href="/shopping-cart/" class="btn-success" role="button">Items
      <span class="badge">
        {{# if session.cart.totalQty}}
        {{session.cart.totalQty}}
        {{else}}
        0
      </span>
      {{/if}}
      </a>
     </li>
    {{/if_eq}}
    <li class="dropdown">
      <a href="#" id="btn-user" class="dropdown-toggle btn-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> 
      {{# if login}}
	    {{user.email}}
          {{ else }}
            Control de acceso
      {{/if}}
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
      {{# if login}}
	    {{# if_eq user.role "administrador"}}
        <li><a href="/#stock-ok">Arts. con stock</a></li>                
        <li><a href="/#stock-not-ok">Arts. sin stock</a></li>
        <li><a href="/user/profile-admin">Historial de pedidos</a></li>
		{{/if_eq}}
        {{# if_eq user.role "usuario"}}
        <li><a href="/user/profile">Historial de pedidos</a></li>
        {{/if_eq}}
        <li role="separator" class="divider"></li>
        <li><a href="/user/logout">Cerrar sesión</a></li>
        {{ else }}
          <li><a href="/user/signin">Iniciar sesión</a></li>
      {{/if}}
      </ul>
    </li>
    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>