<style>
  #search-user, #btn-miss, #cog { 
    display: none !important;
  }
</style>
{{# if login}}
{{# if_eq user.role "administrador"}}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Historial de pedidos</h1>
    <form class="" id="search-admin-users" action="/user/profile-admin" method="GET">
     <div class="form-group">
       <input name="search" type="text" class="form-control" placeholder="Buscar por usuario">
     </div>
     <button type="submit" class="btn btn-default">Buscar</button>
    </form>
    {{# if_null noMatch null}}
    <h4 id="no-match">{{noMatch}}</h4>
    {{/if_null}}    
    <hr>
    {{# each orders }}
    <div class="panel panel-default">
      <div class="panel-body">
        <p><strong>Fecha del pedido:</strong> {{ this.dateOrder }}</p>
        <p><strong>Usuario:</strong> {{ this.email }}</p>
        <ul class="list-group">
        {{# each this.items }}
          <li class="list-group-item">
            <p><strong>Item:</strong> {{ this.item.title }} | <strong>Unidades:</strong> {{ this.qty }}</p>
          </li>
        {{/each}}
        </ul>
      </div>
    </div>
  {{/each}}
  <a href="/">Volver</a>
  </div>
</div>
{{/if_eq}}
{{/if}}