<style>
  #cog { 
    display: none !important;
  }
</style>
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
    <h1>Listado de usuarios</h1>    
    <form class="" id="search-admin-users" action="/users" method="GET">
     <div class="form-group">
       <input name="search" type="text" class="form-control" placeholder="Buscar por usuario">
     </div>
     <button type="submit" class="btn btn-default">Buscar</button>
    </form>
    {{# if_null noMatch null}}
      <h4 id="no-match">{{noMatch}}</h4>
    {{/if_null}}
    <h3>Email / <span class="badge">Rol</span></h3>
    <ul class="list-group">
    {{# each users }}
      <li class="list-group-item">
        <strong name="email">{{ this.email }}</strong>
        <span class="badge" name="role">{{ this.role }}</span>
        <form action="/users/{{ this.email }}" method="POST">
          <button id="btn-reset-user" class="btn btn-info">Restablecer clave</button>
        </form>
        <form action="/users/{{ this._id }}?_method=DELETE" method="POST">
          <button onclick="if (!confirm ('El elemento sera borrado!')) { return false }" class="btn btn-danger btn-xs">Eliminar</button>
        </form>
      </li>
    {{/each}}
    </ul>
    <a href="/">Volver</a>
  </div>  
</div>