<style>
  #search-user, #btn-miss, #cog { 
    display: none !important;
  }
</style>
{{# if products }}
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      {{# if_eq user.role "usuario"}}
      <ul class="list-group">
      {{# each products }}
        <li class="list-group-item" id="group-item">
          <span class="badge pull-left" name="qty">{{ this.qty }} </span>
          <span class="title" ><strong name="title">{{ item.title }}</strong></span>
          <div class="btn-group pull-right">
            {{#if_gt this.qty 1}}
            <button class="btn btn-danger btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Eliminar<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a onclick="if (!confirm ('El elemento sera borrado!')) { return false }" href="/reduce/{{this.item._id}}">Eliminar uno</a></li> 
                <li><a onclick="if (!confirm ('Todos los elementos seran borrados!')) { return false }" href="/remove/{{this.item._id}}">Eliminar todo</a></li>   
              </ul>
            {{else}}
              <a onclick="if (!confirm ('El elemento sera borrado!')) { return false }" class="btn btn-danger btn-xs btn-xxs" role="button" href="/reduce/{{this.item._id}}">Eliminar</a>
            {{/if_gt}}
          </div>
        </li>
        {{/each}}
      </ul>
      <a class="btn btn-success" role="button" href="/">Agregar más items</a>      
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">      
      <form action="/send" method="POST">
        <input type="hidden" name="user" value="{{ user.email }}">        
          <textarea name="clone" class="form-control" id="clone" rows="1" wrap="off">{{# each products }}{{ item.title }} : {{ this.qty }}&#10;{{/each}}</textarea> 
        <button class="btn btn-info" type="submit">Enviar pedido por mail</button> 
      </form>
    </div>    
  </div>
      {{/if_eq}}
      {{# if_eq user.role "administrador"}}
      <style>
        #group-item {
          width: 130% !important;
        }
      </style>
      <ul class="list-group">
      {{# each products }}
        <li class="list-group-item" id="group-item">          
          <span class="title" ><strong name="title">{{ item.title }}</strong></span>
          <strong>Stock: </strong>{{item.stock}}<strong> Stock Minimo: </strong>{{item.minimumStock}}
          <div class="btn-group pull-right">            
              <a onclick="if (!confirm ('El elemento sera borrado!')) { return false }" class="btn btn-danger btn-xs btn-xxs" role="button" href="/admin/reduce/{{this.item._id}}">Eliminar</a>
          </div>
        </li>
        {{/each}}
      </ul>
      <a class="btn btn-success" role="button" href="/">Agregar más items</a>      
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">      
      <form action="/admin/send" method="POST">        
          <textarea name="clone" class="form-control" id="clone" rows="1" wrap="off">{{# each products }}{{ item.title }} | Stock:  {{ item.stock }} | Stock minimo: {{item.minimumStock}}&#10;&#13;{{/each}}</textarea> 
        <button class="btn btn-info" type="submit">Enviar listado</button> 
      </form>
    </div>
  </div>
      {{/if_eq}}
  {{ else }}
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <h2>Pedido vacío</h2>
      <a href="/">Volver</a>
    </div>
  </div>
{{/if}}